<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Microservice-based Twitter Posting Interface</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <style>
    h1 {
      text-align: center;
    }

    .tweet-form {
      margin: 4rem;
      text-align: center;
    }

    .tweet-content {
      width: 200px;
      height: 140px;
      resize: none;
    }

    .wrapper {
      margin: 1rem;
    }

    del {
      text-decoration: line-through;
      background-color: #fbb;
      color: #555;
    }

    ins {
      text-decoration: none;
      background-color: #d4fcbc;
    }
  </style>
</head>

<body>
  <h1>Microservice-based Twitter Posting Interface</h1>
  <form action="/send" method="POST" class="tweet-form">
    <p class="wrapper">Please use this advanced form to <del>post a Tweet!</del><ins>Send me feedback about this talk
        while still respecting the 280 words limits.</ins></p>
    <div class="wrapper">
      <textarea name="tweet-content" class="tweet-content" maxlength="280" minlength="1"></textarea>
    </div>
    <button type="submit">Submit!</button>
  </form>
</body>

</html>