<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Microservice-based Twitter Posting Interface</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <style>
    h1 {
      text-align: center;
    }

    .wrapper {
      margin: 1rem;
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>Microservice-based Twitter Posting Interface</h1>
  <p class="wrapper">Your request was received successfully!</p>
  <div class="wrapper">
    <form action="/" method="GET" class="tweet-form">
      <button type="submit">Go Back</button>
    </form>
  </div>
</body>

</html>